*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata

#######################
## Under iOS
#######################
# Xcode
iosApp/build/*
iosApp/*.pbxuser
iosApp/!default.pbxuser
iosApp/*.mode1v3
iosApp/!default.mode1v3
iosApp/*.mode2v3
iosApp/!default.mode2v3
iosApp/*.perspectivev3
iosApp/!default.perspectivev3
iosApp/!default.xcworkspace
iosApp/xcuserdata
iosApp/profile
iosApp/*.moved-aside
# Finder
iosApp/.DS_Store
iosApp/.svn
iosApp/*.swp
iosApp/*.~nib

# Cocoapods
iosApp/Pods/*
